*{
  font-family: 'Roboto', sans-serif;
}

// BANNER ELEMENTS
.background{
  height: 900px;
  width: 100%;
  background-image: url('https://static.pexels.com/photos/273238/pexels-photo-273238.jpeg');
  background-size: cover;
}

.banner-el{
  margin: auto;
  position: relative;
  padding-top: 150px;
}
// END BANNER ELEMENTS

// DESIGN LINE
.line, .line-settings{
  height: 4px;
  background-color: #7f8c8d;
  margin-top: 100px;
}

.line-settings{
  margin-top: 50px;
  margin-bottom: 50px;
}
//END DESIGN LINE

// TASK SECTION
.show{
  background-color: #fff;

}

#task-section{
  padding-top: 100px;
}

.pcard{
  border: 2px solid #F5D76E;
}

.pcard:hover{
  background-color: #f7f5e6;
  transition: 0.3s;
}

.tdcard{
  border: 2px solid #F58F84;
}

.tdcard:hover{
  background-color: #ffe8e8;
  transition: 0.3s;
}

.dcard{
  border: 2px solid #26A65B;
}

.dcard:hover{
  background-color: #e8f7e6;
  transition: 0.3s;
}

.btn-del{
  margin-top: 20px;
}

.drop{
  height: 500px;
}

.text-limiter-tasks{
  display: block;
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todoTasks, .progressTasks, .doneTasks, .userTable, .tasktypeTable{
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-task-btn{
  padding: 20px 50px 20px 50px;
  margin-top: 100px;
  background-color: #ecf0f1;
  background-color: transparent;
  border: 1px solid #000;
}

.add-task-btn:hover{
  background-color: #bdc3c7;
  transition: 0.4s;
  padding: 20px 70px 20px 70px;
}
//END TASK SECTION

// SETTINGS ELEMENTS
.settings-container{
    background-color: #ecf0f1;
}

.settings{
  padding-top: 100px;
}

.btn-ac-space-one{
    margin-top: 25px;
}

.settings-input{
  margin-left: auto;
  position: relative;
}

.btn-ac-space-two{
  margin-top: 15px;
}

.set-title{
  padding-bottom: 50px;
}

.table-items{
  border: 2px solid rgba(0,0,0,0.5);
  margin-bottom: 5px;
  width: 500px;
}

.table-items:hover{
  background-color: #fffcf4;
  transition: 0.3s;
}

.table-content{
  margin-top: 20px;
}

// END SETTINGS ELEMENTS

//STYLE FOR BUTTONS
.btn-ac{
  background-color: transparent;
  border: 1px solid #000;
}

.btn-ac:hover, {
  color: #000;
  transition: 0.3s;
}
//END STYLE BUTTONS

//FOOTER
.coppy-r{
  padding-top: 100px;
  padding-bottom:100px;
}

.footer{
  margin-top: 50px;
  padding-bottom: 100px;
}
//FOOTER


// HIDE ELEMENTS
.show{
    opacity:0;
}
//HIDE ELEMENTS

// SCROLL BAR
#custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #D2D7D3;
}

#custom::-webkit-scrollbar
{
	width: 10px;
	background-color: #D2D7D3;
}

#custom::-webkit-scrollbar-thumb
{
	background-color: #BDC3C7;
	border: 2px solid #BDC3C7;
}
// END SCROLLBAR

// HEADER EFFECT
// @import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.img-banner {
  font-family: 'Raleway', Arial, sans-serif;
  color: #000;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  background: #000;
  font-size: 20px;
  text-align: center;
}

figure.img-banner * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #000;
}

figure.img-banner img {
  opacity: 1;
  width: 100%;
}

figure.img-banner figcaption {
  top: 50%;
  left: 40px;
  right: 40px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000;
}

figure.img-banner figcaption h2 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  -webkit-transform: translateY(75%);
  transform: translateY(75%);
  color: #000;
}

figure.img-banner figcaption h2 span {
  font-weight: 800;
  color: #000;
}

figure.img-banner figcaption p {
  font-size: 0.9em;
  font-weight: 500;
  opacity: 0;
  margin: 0;
  color: #000;
}

figure.img-banner:before,
figure.img-banner:after {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  color: #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s, -moz-transform 0.6s, -o-transform 0.6s, transform 0.6s;
}

figure.img-banner:before {
  border-top: 1px double #fff;
  border-bottom: 1px double #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: #fff;
}

figure.img-banner:after {
  border-right: 1px double #fff;
  border-left: 1px double #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  color: #000;
}

figure.img-banner a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: #fff;
}

figure.img-banner.bkg {
  background: transparent;
}

figure.img-banner:hover img,
figure.img-banner.hover img {
  opacity: 0.2;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #000;
}

figure.img-banner:hover figcaption h2,
figure.img-banner.hover figcaption h2,
figure.img-banner:hover figcaption p,
figure.img-banner.hover figcaption p {
  opacity: 1;
  border-color: rgba(000, 000, 000, 0.5);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  color: #000;
}

figure.img-banner:hover figcaption p,
figure.img-banner.hover figcaption p {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.img-banner:hover:before,
figure.img-banner.hover:before,
figure.img-banner:hover:after,
figure.img-banner.hover:after {
  opacity: 0.8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
// END HEADER EFFECT
